{include template("header")}
			<div class="layout--container">
				<div class="page_header">
					<div class="container">
						<h1 class="page_header--title">关于我们</h1>
					</div>
				</div>
				<nav class="breadcrumbs">
					<div class="container">
						<ul class="breadcrumbs--list">
							<li class="breadcrumbs--item"><a href="#" class="breadcrumbs--link">Home</a></li>
							<li class="breadcrumbs--item"><a href="#" class="breadcrumbs--link -active">About</a></li>
						</ul>
					</div>
				</nav>
				<section class="section">
					<div class="container">
						<div class="section--header">
							<h2 class="section--title">公司介绍</h2>
							<p class="section--description">
								公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍
							</p>
						</div>
					</div>
				</section>
				<hr class="section_divider -narrow">
				<section class="section">
					<div class="container">
						<div class="section--header">
							<h2 class="section--title">Our Mission</h2>
							<p class="section--description">
								Nulla vehicula sapien nec ante sollicitudin luctus. Duis posuere, metus eget
								<br> mollis, dolor convallis nulla, ut aliquam nisi lorem eget enim.
							</p>
						</div>
						<div class="section--container">
							<div class="our_mission">
								<div class="row">
									<div class="col-md-3 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">
										<div class="our_mission--item">
											<div class="figure our_mission--item_media"><img src="./assets/images/content/features/f02.jpg" alt=""></div>
											<h3 class="our_mission--item_title">Quality</h3>
											<div class="our_mission--item_body">
												<p>
													Maecenas at nisiquam. Doneais um elitivamus augue leo, vehula.
												</p>
												<ul>
													<li>Etdui neciunc</li>
													<li>Donec efficitur</li>
													<li>Proin at nisi</li>
												</ul>
											</div>
										</div>
									</div>
									<div class="col-md-3 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">
										<div class="our_mission--item">
											<div class="figure our_mission--item_media"><img src="./assets/images/content/features/f03.jpg" alt=""></div>
											<h3 class="our_mission--item_title">Responsibility</h3>
											<div class="our_mission--item_body">
												<p>
													Phasellus ac aliquam elit. Integer malesuada orci eget masa dictum.
												</p>
												<ul>
													<li>Class aptent taciti</li>
													<li>Vestibulum sit</li>
													<li>Lorem ipsum dolor</li>
												</ul>
											</div>
										</div>
									</div>
									<div class="clearfix visible-sm-block"></div>
									<div class="col-md-3 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">
										<div class="our_mission--item">
											<div class="figure our_mission--item_media"><img src="./assets/images/content/features/f04.jpg" alt=""></div>
											<h3 class="our_mission--item_title">Honesty</h3>
											<div class="our_mission--item_body">
												<p>
													Proin at nisi a ligula porttitor port et nec massa fusce sollicitudin.
												</p>
												<ul>
													<li>Fusce sollicitudin</li>
													<li>Duis volutpat</li>
													<li>Vivamus placat sapien</li>
												</ul>
											</div>
										</div>
									</div>
									<div class="col-md-3 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">
										<div class="our_mission--item">
											<div class="figure our_mission--item_media"><img src="./assets/images/content/features/f01.jpg" alt=""></div>
											<h3 class="our_mission--item_title">Reliability</h3>
											<div class="our_mission--item_body">
												<p>
													Aliquam luctus fringilla est atles. Lorem ipsum dolor sit ametonses.
												</p>
												<ul>
													<li>Proinsal at nisima</li>
													<li>Lorem ipsum dolor</li>
													<li>Donec efficitur</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section class="section -pattern -light">
					<div class="container">
						<div class="section--header">
							<h2 class="section--title">Our Team</h2>
							<p class="section--description">
								Sed id aliquet ligula, at rutrum sapien. Proin tincidunt mi a euismod tempor.
								<br> Nam consequat metus sapien, sit amet congue turpis auctor.
							</p>
						</div>
						<div class="section--container">
							<div class="team">
								<div class="row">
									<div class="col-lg-3 col-md-4 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">
										<div class="team_member">
											<figure class="team_member--image"><img src="./assets/images/content/our_team/001.jpg" alt=""></figure>
											<div class="team_member--body">
												<h3 class="team_member--name">John Holland</h3>
												<span class="team_member--position">Chief Executive Officer</span>
												<span class="team_member--email">
													<a href="mailto:john@financed.com">john@financed.com</a>
												</span>
												<ul class="team_member--links">
													<li><a href="#"><span class="fa fa-facebook"></span></a></li>
													<li><a href="#"><span class="fa fa-twitter"></span></a></li>
													<li><a href="#"><span class="fa fa-google-plus"></span></a></li>
													<li><a href="#"><span class="fa fa-linkedin"></span></a></li>
												</ul>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-md-4 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">
										<div class="team_member">
											<figure class="team_member--image"><img src="./assets/images/content/our_team/002.jpg" alt=""></figure>
											<div class="team_member--body">
												<h3 class="team_member--name">Jessica Andersson</h3>
												<span class="team_member--position">Project Manager</span>
												<span class="team_member--email">
													<a href="mailto:jessica@financed.com">jessica@financed.com</a>
												</span>
												<ul class="team_member--links">
													<li><a href="#"><span class="fa fa-facebook"></span></a></li>
													<li><a href="#"><span class="fa fa-twitter"></span></a></li>
													<li><a href="#"><span class="fa fa-google-plus"></span></a></li>
													<li><a href="#"><span class="fa fa-linkedin"></span></a></li>
												</ul>
											</div>
										</div>
									</div>
									<div class="clearfix visible-sm-block"></div>
									<div class="col-lg-3 col-md-4 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">
										<div class="team_member">
											<figure class="team_member--image"><img src="./assets/images/content/our_team/003.jpg" alt=""></figure>
											<div class="team_member--body">
												<h3 class="team_member--name">Brad Bukovsky</h3>
												<span class="team_member--position">High-level Lawyer</span>
												<span class="team_member--email">
													<a href="mailto:brad@financed.com">brad@financed.com</a>
												</span>
												<ul class="team_member--links">
													<li><a href="#"><span class="fa fa-facebook"></span></a></li>
													<li><a href="#"><span class="fa fa-twitter"></span></a></li>
													<li><a href="#"><span class="fa fa-google-plus"></span></a></li>
													<li><a href="#"><span class="fa fa-linkedin"></span></a></li>
												</ul>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-md-4 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">
										<div class="team_member">
											<figure class="team_member--image"><img src="./assets/images/content/our_team/004.jpg" alt=""></figure>
											<div class="team_member--body">
												<h3 class="team_member--name">Amanda Brave</h3>
												<span class="team_member--position">Financial Consultant</span>
												<span class="team_member--email">
													<a href="mailto:amanda@financed.com">amanda@financed.com</a>
												</span>
												<ul class="team_member--links">
													<li><a href="#"><span class="fa fa-facebook"></span></a></li>
													<li><a href="#"><span class="fa fa-twitter"></span></a></li>
													<li><a href="#"><span class="fa fa-google-plus"></span></a></li>
													<li><a href="#"><span class="fa fa-linkedin"></span></a></li>
												</ul>
											</div>
										</div>
									</div>
									<div class="clearfix visible-sm-block"></div>
									<div class="col-lg-3 col-md-4 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">
										<div class="team_member">
											<figure class="team_member--image"><img src="./assets/images/content/our_team/005.jpg" alt=""></figure>
											<div class="team_member--body">
												<h3 class="team_member--name">Rachel Adams</h3>
												<span class="team_member--position">Chief Financial Adviser</span>
												<span class="team_member--email">
													<a href="mailto:rachel@financed.com">rachel@financed.com</a>
												</span>
												<ul class="team_member--links">
													<li><a href="#"><span class="fa fa-facebook"></span></a></li>
													<li><a href="#"><span class="fa fa-twitter"></span></a></li>
													<li><a href="#"><span class="fa fa-google-plus"></span></a></li>
													<li><a href="#"><span class="fa fa-linkedin"></span></a></li>
												</ul>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-md-4 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">
										<div class="team_member">
											<figure class="team_member--image"><img src="./assets/images/content/our_team/006.jpg" alt=""></figure>
											<div class="team_member--body">
												<h3 class="team_member--name">Stanley Kavinsky</h3>
												<span class="team_member--position">Money Manager</span>
												<span class="team_member--email">
													<a href="mailto:stanley@financed.com">stanley@financed.com</a>
												</span>
												<ul class="team_member--links">
													<li><a href="#"><span class="fa fa-facebook"></span></a></li>
													<li><a href="#"><span class="fa fa-twitter"></span></a></li>
													<li><a href="#"><span class="fa fa-google-plus"></span></a></li>
													<li><a href="#"><span class="fa fa-linkedin"></span></a></li>
												</ul>
											</div>
										</div>
									</div>
									<div class="clearfix visible-sm-block"></div>
									<div class="col-lg-3 col-md-4 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">
										<div class="team_member">
											<figure class="team_member--image"><img src="./assets/images/content/our_team/007.jpg" alt=""></figure>
											<div class="team_member--body">
												<h3 class="team_member--name">Julia Sloplant</h3>
												<span class="team_member--position">Angel Investor</span>
												<span class="team_member--email">
													<a href="mailto:julia@financed.com">julia@financed.com</a>
												</span>
												<ul class="team_member--links">
													<li><a href="#"><span class="fa fa-facebook"></span></a></li>
													<li><a href="#"><span class="fa fa-twitter"></span></a></li>
													<li><a href="#"><span class="fa fa-google-plus"></span></a></li>
													<li><a href="#"><span class="fa fa-linkedin"></span></a></li>
												</ul>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-md-4 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">
										<div class="team_member">
											<figure class="team_member--image"><img src="./assets/images/content/our_team/008.jpg" alt=""></figure>
											<div class="team_member--body">
												<h3 class="team_member--name">Steven Bradbenny</h3>
												<span class="team_member--position">Equity Consultant</span>
												<span class="team_member--email">
													<a href="mailto:steven@financed.com">steven@financed.com</a>
												</span>
												<ul class="team_member--links">
													<li><a href="#"><span class="fa fa-facebook"></span></a></li>
													<li><a href="#"><span class="fa fa-twitter"></span></a></li>
													<li><a href="#"><span class="fa fa-google-plus"></span></a></li>
													<li><a href="#"><span class="fa fa-linkedin"></span></a></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<div class="section">
					<div class="container">
						<div class="section--header">
							<h2 class="section--title">Our Clients Say</h2>
							<p class="section--description">
								Sed id aliquet ligula, at rutrum sapien. Proin tincidunt mi a euismod tempor.
								<br> Nam consequat metus sapien, sit amet congue turpis auctor.
							</p>
						</div>
						<div class="section--container">
							<div class="clients_reviews">
								<div class="clients_reviews--container js-clients_reviews">
									<div class="clients_reviews--slide">
										<div class="client_review">
											<div class="client_review--text">
												<p>
													“Vivamus gravida ligula et nibh rutrum, acini justo fermentum. Curabitur et sapien idla vestibulum volutpat. Maecenas eget sapien bibendum, volutpat ipsum ac, effictur toror.”
												</p>
											</div>
											<div class="client_review--client">
												<figure>
													<img src="./assets/images/content/avatar/001.jpg" alt="" />
												</figure>
												<strong>Jessica Anderson</strong>
												<span>Manager @Albonis</span>
											</div>
										</div>
									</div>
									<div class="clients_reviews--slide">
										<div class="client_review">
											<div class="client_review--text">
												<p>
													“Vivamus gravida ligula et nibh rutrum, acini justo fermentum. Curabitur et sapien idla vestibulum volutpat. Maecenas eget sapien bibendum, volutpat ipsum ac, effictur toror.”
												</p>
											</div>
											<div class="client_review--client">
												<figure>
													<img src="./assets/images/content/avatar/002.jpg" alt="" />
												</figure>
												<strong>Jessica Anderson</strong>
												<span>Manager @Albonis</span>
											</div>
										</div>
									</div>
									<div class="clients_reviews--slide">
										<div class="client_review">
											<div class="client_review--text">
												<p>
													“Vivamus gravida ligula et nibh rutrum, acini justo fermentum. Curabitur et sapien idla vestibulum volutpat. Maecenas eget sapien bibendum, volutpat ipsum ac, effictur toror.”
												</p>
											</div>
											<div class="client_review--client">
												<figure>
													<img src="./assets/images/content/avatar/003.jpg" alt="" />
												</figure>
												<strong>Jessica Anderson</strong>
												<span>Manager @Albonis</span>
											</div>
										</div>
									</div>
									<div class="clients_reviews--slide">
										<div class="client_review">
											<div class="client_review--text">
												<p>
													“Vivamus gravida ligula et nibh rutrum, acini justo fermentum. Curabitur et sapien idla vestibulum volutpat. Maecenas eget sapien bibendum, volutpat ipsum ac, effictur toror.”
												</p>
											</div>
											<div class="client_review--client">
												<figure>
													<img src="./assets/images/content/avatar/002.jpg" alt="" />
												</figure>
												<strong>Jessica Anderson</strong>
												<span>Manager @Albonis</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="section -pattern -light">
					<div class="contacts">
						<div class="container">
							<div class="row">
								<div class="col-md-4 col-md-offset-0 col-xs-10 col-xs-offset-1">
									<div class="contact_card">
										<i class="contact_card--icon icons8-phone color_waikawa"></i>
										<strong class="contact_card--title">Contact Us</strong>
										<p class="contact_card--text">Feel free to call us on <br> <strong>0 (855) 233-5385</strong> <br> Monday - Friday, 8am - 7pm</p>
										<button class="button -waikawa_gray -bordered"><span class="button--inner">Order a Call Back</span></button>
									</div>
								</div>
								<div class="col-md-4 col-md-offset-0 col-xs-10 col-xs-offset-1">
									<div class="contact_card">
										<i class="contact_card--icon icons8-message color_waikawa"></i>
										<strong class="contact_card--title">Our Email</strong>
										<p class="contact_card--text">Drop us a line anytime at <br> <strong><a href="mailto:info@financed.com">info@financed.com</a>,</strong> <br> and we’ll get back soon.</p>
										<button class="button -waikawa_gray -bordered"><span class="button--inner">Start Writing</span></button>
									</div>
								</div>
								<div class="col-md-4 col-md-offset-0 col-xs-10 col-xs-offset-1">
									<div class="contact_card">
										<i class="contact_card--icon icons8-geo-fence color_waikawa"></i>
										<strong class="contact_card--title">Our Address</strong>
										<p class="contact_card--text">Come visit us at <br> <strong>Stock Building, New York,</strong> <br> NY 93459</p>
										<button class="button -waikawa_gray -bordered"><span class="button--inner">See the Map</span></button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
{include template("footer")}