{include template("header")}
			<div class="layout--container">
				<div class="page_header">
					<div class="container">
						<h1 class="page_header--title">Finance Planning</h1>
					</div>
				</div>
				<nav class="breadcrumbs">
					<div class="container">
						<ul class="breadcrumbs--list">
							<li class="breadcrumbs--item"><a href="#" class="breadcrumbs--link">Home</a></li>
							<li class="breadcrumbs--item"><a href="#" class="breadcrumbs--link -active">Services</a></li>
						</ul>
					</div>
				</nav>
				<section class="section -padding_top_smaller">
					<div class="container">
						<div class="row">
							<div class="col-md-3">
								<div class="service_sidebar">
									<div class="widget -iconless">
										<h2 class="widget--title">Solutions
										</h2>
										<ul class="widget_solutions">
											<li><a href="#"><i class="icons8-diamond"></i><span>Accounting</span></a></li>
											<li><a href="#"><i class="icons8-umbrella"></i><span>Finance Aid</span></a></li>
											<li><a href="#"><i class="icons8-business"></i><span>Consulting</span></a></li>
											<li><a href="#"><i class="icons8-currency-exchange"></i><span>Money Transfers</span></a></li>
											<li><a href="#"><i class="icons8-overtime"></i><span>Planning Events</span></a></li>
										</ul>
									</div>
									<div class="widget -iconless">
										<h2 class="widget--title">Testimonials
										</h2>
										<div class="widget_testimonial">
											<div class="widget_slider js-widget_slider">
												<div class="widget_slider--slide">
													<p class="widget_testimonial--text">
														“Vivamus gravida ligula et nibh rutrum, acini justo fermentum. Curabitur et sapien idla vestibul volutpat. Maecenas eget sapien bibendum, volutpat ipsum ac, effictur ementos saltican toror.”
													</p>
													<div class="widget_testimonial--author">
														<figure class="widget_testimonial--author_userpic"><img src="./assets/images/content/avatar/cl001.jpg" alt=""></figure>
														<strong class="widget_testimonial--author_name">Jessica Anderson</strong>
														<span class="widget_testimonial--author_position">Manager @Albonis</span>
													</div>
												</div>
												<div class="widget_slider--slide">
													<p class="widget_testimonial--text">
														“Vivamus justo fermentum. Curabitur et sapien idla vestibul volutpat. ipsum ac, effictur ementos saltican toror.”
													</p>
													<div class="widget_testimonial--author">
														<figure class="widget_testimonial--author_userpic"><img src="./assets/images/content/avatar/cl002.jpg" alt=""></figure>
														<strong class="widget_testimonial--author_name">John Holland</strong>
														<span class="widget_testimonial--author_position">Manager @Berdu</span>
													</div>
												</div>
												<div class="widget_slider--slide">
													<p class="widget_testimonial--text">
														“Volutpat. Maecenas eget sapien bibendum, volutpat ipsum ac, effictur ementos saltican toror.”
													</p>
													<div class="widget_testimonial--author">
														<figure class="widget_testimonial--author_userpic"><img src="./assets/images/content/avatar/cl003.jpg" alt=""></figure>
														<strong class="widget_testimonial--author_name">Jessica Anderson</strong>
														<span class="widget_testimonial--author_position">CEO @Traklizz Group</span>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="widget -iconless">
										<h2 class="widget--title">Our Brochure
										</h2>
										<div class="widget_brochure">
											<p class="widget_brochure--text">
												Class aptent taciti sociosqu ad litora torquent per coubia nostra, per inceptos himnaeos. Sedsper, lacus sed feugiat dictum, tellusips um auctor quam, non faucibus.
											</p><a href="#" class="link_download -pdf">Download PDF</a>
										</div>
									</div>
									<div class="widget -iconless">
										<h2 class="widget--title">Latest Tweets
										</h2>
										<div class="widget_twitter">
											<i class="icons8-twitter"></i>
											<div class="widget_twitter--slider widget_slider js-widget_slider">
												<?php get_twitts( 'cluster_themes', 4, 'widget' ); ?>
											</div>
										</div>
									</div>
									<div class="widget -iconless">
										<h2 class="widget--title">Support
										</h2>
										<div class="widget_support">
											<div class="widget_support--person">
												<figure class="widget_support--person_userpic"><img src="./assets/images/content/avatar/003.jpg" alt=""></figure><strong class="widget_support--person_name">Nadya Belkin</strong><strong class="widget_support--person_position">Support Manager</strong>
											</div>
											<p class="widget_support--text">
												Feel free to call us on
												<br>
												<strong>0 (855) 233-5385,</strong>
												<br> and get an imidiate help!
											</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-9">
								<div class="service_page">
									<div class="service_description">
										<h2 class="service_description--title">Service Description</h2>
										<div class="service_description--text">
											<p>
												Vestibulum mattis leo id cursus tincidunt. Donec ultrices quam et pretium vehicula. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed semper, lacus sed feugiat dictum, tellus ipsum auctor quam, non faucibus
												dui nisl et elit. Lorem ipsum dolor sit amet, conectetu.
											</p>
										</div>
										<div class="service_gallery js-service_gallery">
											<figure class="service_gallery--big_image service_gallery--image">
												<a href="./assets/images/content/gallery/001.jpg"><img src="./assets/images/content/gallery/001.jpg" alt=""></a>
											</figure>
											<ul class="service_gallery--list">
												<li class="service_gallery--list_item">
													<figure class="service_gallery--image">
														<a href="./assets/images/content/gallery/002.jpg"><img src="./assets/images/content/gallery/002.jpg" alt=""></a>
													</figure>
												</li>
												<li class="service_gallery--list_item">
													<figure class="service_gallery--image">
														<a href="./assets/images/content/gallery/003.jpg"><img src="./assets/images/content/gallery/003.jpg" alt=""></a>
													</figure>
												</li>
												<li class="service_gallery--list_item">
													<figure class="service_gallery--image">
														<a href="./assets/images/content/gallery/004.jpg"><img src="./assets/images/content/gallery/004.jpg" alt=""></a>
													</figure>
												</li>
												<li class="service_gallery--list_item">
													<figure class="service_gallery--image">
														<a href="./assets/images/content/gallery/005.jpg"><img src="./assets/images/content/gallery/005.jpg" alt=""></a>
													</figure>
												</li>
											</ul>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="why_mini">
												<h2 class="why_mini--title">Why Choose Us?</h2>
												<ul class="why_mini--list">
													<li class="why_mini--item">
														<i class="why_mini--item_icon icons8-idea"></i>
														<h3 class="why_mini--item_title">We are responsible</h3>
														<div class="why_mini--item_text">
															<p>
																Mauris volutpat nulla a enim efficitur elementum porior at diam aliquam et elit elementum, ferdmentum nisl sed, pellentesque mares. Integer blandit erat bisendum pulvi.
															</p>
														</div>
													</li>
													<li class="why_mini--item">
														<i class="why_mini--item_icon icons8-center-direction"></i>
														<h3 class="why_mini--item_title">99% of our clients are satisfied</h3>
														<div class="why_mini--item_text">
															<p>
																Nulla vitae dui et velit sagtis fermentum. Donec rhonus tincidun. Nullam nibh tellus, blandit vel leo ant vulputate, commodo elementum. Pellentesque eget quam ultrices.
															</p>
														</div>
													</li>
													<li class="why_mini--item">
														<i class="why_mini--item_icon icons8-coins"></i>
														<h3 class="why_mini--item_title">We have reasonable prices</h3>
														<div class="why_mini--item_text">
															<p>
																Ut ligula sem, eleifend sed pellentesque nec, viverra ut igula sit amet ipsum porttitor aliqum pulvinar quis dor Ielit placerat, finius velit vel, dignissim semuis sed dignis.
															</p>
														</div>
													</li>
												</ul>
											</div>
										</div>
										<div class="col-md-6">
											<div class="benefits">
												<h2 class="benefits--title">The Benefits</h2>
												<div class="benefits--text">
													<p>
														Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed semper, lacus sed feugiat dictum, tellus ipsum auctor quam, non faucibus dui nisl et elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eu
														interdum velit.
													</p>
													<p>
														Phasellus molestie ut odio nec pulvinar. Donec phetra lorem sit amet felis volutpat, et masuada justo blandit. Nullm ialis quam et nisi suscipit, vel vecula tortor molestie. Etiam vestulum aliquet consequat. Vestibulum eget blandit lorem, eget tempor
														velit. Suspendisse accumsan vulputate odio, sit amet pretium metus eleifend id. Nulla lobortis a diam vitae commodo. Mauris varius pharetra nunc. Praesent mollis vitae erat eu vulputate sendis.
													</p>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="faq">
												<h2 class="faq--title">Popular Questions</h2>
												<ul class="faq--list js-accordion">
													<li class="faq--item js-accordion--pane">
														<h3 class="faq--item_title js-accordion--pane_opener">Nam eget tortor a orci molestie ?</h3>
														<div class="faq--item_content js-accordion--pane_content">
															<p>
																Ut ligula sem, eleifend sed pellentsque nec, vivera ligula sit amet ipsum porttitor alium pulvinar quis elit placerat, fiius velit vel, dignissim semuis sedon.
															</p>
														</div>
													</li>
													<li class="faq--item js-accordion--pane">
														<h3 class="faq--item_title js-accordion--pane_opener">Proin scelerisque, eros ac fringilla cong ?</h3>
														<div class="faq--item_content js-accordion--pane_content">
															<p>
																Ut ligula sem, eleifend sed pellentsque nec, vivera ligula sit amet ipsum porttitor alium pulvinar quis elit placerat, fiius velit vel, dignissim semuis sedon.
															</p>
														</div>
													</li>
													<li class="faq--item js-accordion--pane">
														<h3 class="faq--item_title js-accordion--pane_opener">Etiam sodales justo ut turpis ?</h3>
														<div class="faq--item_content js-accordion--pane_content">
															<p>
																Ut ligula sem, eleifend sed pellentsque nec, vivera ligula sit amet ipsum porttitor alium pulvinar quis elit placerat, fiius velit vel, dignissim semuis sedon.
															</p>
														</div>
													</li>
													<li class="faq--item js-accordion--pane">
														<h3 class="faq--item_title js-accordion--pane_opener">Nulla massa diam, varius euismod ?</h3>
														<div class="faq--item_content js-accordion--pane_content">
															<p>
																Ut ligula sem, eleifend sed pellentsque nec, vivera ligula sit amet ipsum porttitor alium pulvinar quis elit placerat, fiius velit vel, dignissim semuis sedon.
															</p>
														</div>
													</li>
												</ul>
											</div>
										</div>
										<div class="col-md-6">
											<div class="brochure">
												<h2 class="brochure--title">Service Brochure</h2>
												<div class="brochure--body">
													<p>
														Etiam vestulum aliquet consequat vestibulum eget blandit lorem, eget tempor vulputate odio.
													</p>
													<div class="brochure--item">
														<figure class="brochure--item_cover"><img src="./assets/images/content/brochure/001.jpg" alt=""></figure>
														<ul class="brochure--download">
															<li class="brochure--download_link"><a href="#" class="link_download -pdf">Download PDF</a></li>
															<li class="brochure--download_link"><a href="#" class="link_download -doc">Download DOC</a></li>
														</ul>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<div class="section -pattern -light">
					<div class="contacts">
						<div class="container">
							<div class="row">
								<div class="col-md-4 col-md-offset-0 col-xs-10 col-xs-offset-1">
									<div class="contact_card">
										<i class="contact_card--icon icons8-phone color_waikawa"></i>
										<strong class="contact_card--title">Contact Us</strong>
										<p class="contact_card--text">Feel free to call us on <br> <strong>0 (855) 233-5385</strong> <br> Monday - Friday, 8am - 7pm</p>
										<button class="button -waikawa_gray -bordered"><span class="button--inner">Order a Call Back</span></button>
									</div>
								</div>
								<div class="col-md-4 col-md-offset-0 col-xs-10 col-xs-offset-1">
									<div class="contact_card">
										<i class="contact_card--icon icons8-message color_waikawa"></i>
										<strong class="contact_card--title">Our Email</strong>
										<p class="contact_card--text">Drop us a line anytime at <br> <strong><a href="mailto:info@financed.com">info@financed.com</a>,</strong> <br> and we’ll get back soon.</p>
										<button class="button -waikawa_gray -bordered"><span class="button--inner">Start Writing</span></button>
									</div>
								</div>
								<div class="col-md-4 col-md-offset-0 col-xs-10 col-xs-offset-1">
									<div class="contact_card">
										<i class="contact_card--icon icons8-geo-fence color_waikawa"></i>
										<strong class="contact_card--title">Our Address</strong>
										<p class="contact_card--text">Come visit us at <br> <strong>Stock Building, New York,</strong> <br> NY 93459</p>
										<button class="button -waikawa_gray -bordered"><span class="button--inner">See the Map</span></button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
{include template("header")}