							<ul class="menu">
								<li class="menu-item {if $action=='index'}{php echo 'current-menu-item'}{/if}"><a href="/">首页</a></li>

								<li class="menu-item menu-item-has-mega-menu {if $action=='products'}{php echo 'current-menu-item'}{/if}">
									<a href="#">旗下基金</a>
									<div class="mega-menu">
										<div class="mega_nav">
											<div class="container">
												<div class="row">
													<div class="col-md-3 col-xs-4">
														<a href="#" class="mega_nav--item -icon">
															<span class="mega_nav--item_icon icons8-diamond"></span>
															<dl class="mega_nav--item_body">
																<dt><strong>xxx稳健一号</strong></dt>
																<dd>简单介绍</dd>
															</dl>
														</a>
													</div>
													<div class="col-md-3 col-xs-4">
														<a href="#" class="mega_nav--item -icon">
															<span class="mega_nav--item_icon icons8-diamond"></span>
															<dl class="mega_nav--item_body">
																<dt><strong>xxx稳健一号</strong></dt>
																<dd>简单介绍</dd>
															</dl>
														</a>
													</div>
													<div class="col-md-3 col-xs-4">
														<a href="#" class="mega_nav--item -icon">
															<span class="mega_nav--item_icon icons8-diamond"></span>
															<dl class="mega_nav--item_body">
																<dt><strong>xxx稳健一号</strong></dt>
																<dd>简单介绍</dd>
															</dl>
														</a>
													</div>
													<div class="col-md-3 col-xs-4">
														<a href="#" class="mega_nav--item -icon">
															<span class="mega_nav--item_icon icons8-diamond"></span>
															<dl class="mega_nav--item_body">
																<dt><strong>xxx稳健一号</strong></dt>
																<dd>简单介绍</dd>
															</dl>
														</a>
													</div>
													<div class="col-md-3 col-xs-4">
														<a href="#" class="mega_nav--item -icon">
															<span class="mega_nav--item_icon icons8-diamond"></span>
															<dl class="mega_nav--item_body">
																<dt><strong>xxx稳健一号</strong></dt>
																<dd>简单介绍</dd>
															</dl>
														</a>
													</div>
													<div class="col-md-3 col-xs-4">
														<a href="#" class="mega_nav--item -icon">
															<span class="mega_nav--item_icon icons8-diamond"></span>
															<dl class="mega_nav--item_body">
																<dt><strong>xxx稳健一号</strong></dt>
																<dd>简单介绍</dd>
															</dl>
														</a>
													</div>
													<div class="col-md-3 col-xs-4">
														<a href="#" class="mega_nav--item -icon">
															<span class="mega_nav--item_icon icons8-diamond"></span>
															<dl class="mega_nav--item_body">
																<dt><strong>xxx稳健一号</strong></dt>
																<dd>简单介绍</dd>
															</dl>
														</a>
													</div>
													<div class="col-md-3 col-xs-4">
														<a href="#" class="mega_nav--item -icon">
															<span class="mega_nav--item_icon icons8-diamond"></span>
															<dl class="mega_nav--item_body">
																<dt><strong>xxx稳健一号</strong></dt>
																<dd>简单介绍</dd>
															</dl>
														</a>
													</div>
													<div class="col-md-3 col-xs-4">
														<a href="#" class="mega_nav--item -icon">
															<span class="mega_nav--item_icon icons8-diamond"></span>
															<dl class="mega_nav--item_body">
																<dt><strong>xxx稳健一号</strong></dt>
																<dd>简单介绍</dd>
															</dl>
														</a>
													</div>
													<div class="col-md-3 col-xs-4">
														<a href="#" class="mega_nav--item -icon">
															<span class="mega_nav--item_icon icons8-diamond"></span>
															<dl class="mega_nav--item_body">
																<dt><strong>xxx稳健一号</strong></dt>
																<dd>简单介绍</dd>
															</dl>
														</a>
													</div>
													<div class="col-md-3 col-xs-4">
														<a href="#" class="mega_nav--item -icon">
															<span class="mega_nav--item_icon icons8-customer-support"></span>
															<dl class="mega_nav--item_body">
																<dt><strong>Online Support</strong></dt>
																<dd>Ut vitae eros ipsum supe ut vitae eros ipsum supe</dd>
															</dl>
														</a>
													</div>
													<div class="col-md-3 col-xs-4">
														<a href="#" class="mega_nav--item -icon">
															<span class="mega_nav--item_icon icons8-diamond"></span>
															<dl class="mega_nav--item_body">
																<dt><strong>xxx稳健一号</strong></dt>
																<dd>简单介绍</dd>
															</dl>
														</a>
													</div>
												</div>
											</div>
											<a href="#" class="mega_nav--open_all"><span>All Services</span></a>
										</div>
									</div>
								</li>

								<li class="menu-item {if $action=='idea'}{php echo 'current-menu-item'}{/if}"><a href="/index.php?file=index&a=idea">投资理念</a></li>
								<li class="menu-item {if $action=='careers'}{php echo 'current-menu-item'}{/if}"><a href="/index.php?file=index&a=careers">招贤纳士</a></li>
								<li class="menu-item {if $action=='about_us'}{php echo 'current-menu-item'}{/if}">
									<a href="/index.php?file=index&a=about_us">关于我们</a>
									<!-- submenu-->
									<!-- 
									<ul class="sub-menu">
										<li class="menu-item"><a href="#">Page 1</a></li>
										<li class="menu-item"><a href="#">Page 2</a></li>
										<li class="menu-item menu-item-has-children">
											<a href="#">Page 3</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="#">Page 1</a></li>
												<li class="menu-item menu-item-has-children">
													<a href="#">Page 2</a>
													<ul class="sub-menu">
														<li class="menu-item"><a href="#">Page 1</a></li>
														<li class="menu-item"><a href="#">Page 2</a></li>
														<li class="menu-item"><a href="#">Page 4</a></li>
													</ul>
												</li>
											</ul>
										</li>
									</ul>									
									 -->

								</li>								
								<li class="menu-item {if $action=='contact_us'}{php echo 'current-menu-item'}{/if}"><a href="/index.php?file=index&a=contact_us">联系我们</a></li>

							</ul>